---
import { Image } from "@astrojs/image/components";
import Social from "@components/Social.astro";
import config from "@config/config.json";
import menu from "@config/menu.json";
import social from "@config/social.json";
import { markdownify } from "@lib/utils/textConverter";

const {footer_content, copyright} = config.params;
---


<footer class="section footer pb-0">
  <div class="container">
    {/* footer menu */}
    <div class="row flex justify-between">
      {menu.footer.map((col) => {
        return (
          <div class="mb-12 sm:col-6 lg:col-3">
            
            <h2 class="h4" set:html={markdownify(col.name)}></h2>
            <ul class="mt-6">
              {col?.menu.map((item) => (
                <li class="mb-1">
                  <a href={item.url} rel="">
                    {item.text}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        );
      })}
      {/* social icons */}
      <div class="md-12 sm:col-6 lg:col-3">
        <a href="/" aria-label="Bigspring">
          <Image
            src={config.site.logo}
            width={Number(config.site.logo_width)}
            height={Number(config.site.logo_height)}
            alt=""
          />
        </a>
        <p class="mt-3 mb-6" set:html={markdownify(footer_content)}></p>
        <Social source={social} className="social-icons mb-8" />
      </div>

      {/* map */}
      <div class="md-12 sm:col-6 lg:col-3 order-last">
        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d1026.95233816248!2d47.54010524233373!3d-18.96606734393359!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTjCsDU3JzU3LjkiUyA0N8KwMzInMjQuOSJF!5e1!3m2!1sen!2smg!4v1686568855719!5m2!1sen!2smg" 
        height="80%" style="border:0;" 
        allowfullscreen="" loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>

    </div>
    {/* copyright */}
    <div class="border-t border-border py-6">
      <p class="text-sm text-center" set:html={markdownify(copyright)}></p>
    </div>
  </div>
</footer>
