---
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
const entry = await getEntryBySlug("about-us", "index");
const { Content } = await entry.render();
const { feature, services } = entry.data;
---

<Base title={entry.data.title}>

  <section class="section">
    <div class="container">
      <div class="flex items-center row justify-center">
        <div class="col-12 md:col-10">
          <h1 class="mb-4 text-left my-6" set:html={markdownify(entry.data.title)} />
          <div class="content mb-16 text-left">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Features -->
  <section class="section bg-theme-light">
    <div class="container">
      <div class="text-center">
        <h2>{markdownify(feature!.title)}</h2>
      </div>
      <div class="mt-8 grid gap-x-8 gap-y-6 sm:grid-cols-2 lg:grid-cols-3">
        {
          feature!.valeurs.map((item, i) => (
            <div class="feature-card rounded-xl bg-white p-5 pb-8 text-center">
              {item.icon && (
                <img
                  class="mx-auto"
                  alt={item.icon}
                  src={item.icon}
                  width={30}
                  height={30}
                />
              )}
              <div class="mt-4">
                <p class="h5" set:html={markdownify(item!.name)} />
                <p class="mt-3">{item.content}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="section">
    <div class="container">
      <div class="row justify-center ">
        {
          services?.map((service) => (
            <div
              class={`col-12 md:col-3 hover:col-recommended group`}
            >
              <div class="card text-center">
                <h4>{service.title}</h4>
                <h5 class="mt-5 font-normal text-text">{service.subtitle}</h5>
                <ul class="mt-5">
                  {service?.features?.map((feature, index) => (
                    <li class="mb-[10px] leading-5">{feature}</li>
                  ))}
                </ul>
                <a
                  class={`btn mt-5 btn-outline-primary group-hover:btn-primary`}
                  href={service.button.link}
                >
                  {service.button.label}
                </a>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Base>
