---
import Base from "@layouts/Base.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";
const entry = await getEntryBySlug("about-us", "index");
const { Content } = await entry.render();
const { feature, teams, title, description, image } = entry.data;

---
<style>
  @import "../styles/image-gallery.css";
</style>

<Base title={title} description={description} image={image}>

  <section class="section">
    <div class="container">
      <div class="flex items-center row justify-center">
        <div class="col-12 md:col-10">
          <h1 class="mb-4 text-left my-6" set:html={markdownify(title)} />
          <div class="content mb-16 text-left">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Features -->
<section class="section bg-theme-light">
    <div class="container">
      <div class="text-center">
        <h2>{markdownify(feature!.title)}</h2>
      </div>
      <div class="mt-8 grid gap-x-8 gap-y-6 sm:grid-cols-2 lg:grid-cols-3">
        {
          feature!.valeurs.map((item, i) => (
            <div class="feature-card rounded-xl bg-white p-5 pb-8 text-center">
              {item.icon && (
                <img
                  class="mx-auto"
                  alt={item.icon}
                  src={item.icon}
                  width={30}
                  height={30}
                />
              )}
              <div class="mt-4">
                <p class="h5" set:html={markdownify(item!.name)} />
                <p class="mt-3">{item.content}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>

  <article class="flow text-center">
    <h2>Notre équipe</h2>
    <p>Voici toute l'équipe du groupe Capria qui vous accueilleront chaleureusement avec un grand sourire.</p>
    <div class="team">
      <ul class="auto-grid" role="list">
        {
          teams?.map((team, i) => (
            <li>
              <a class="profile">
                <h2 class="text-white profile__name">{team.name}</h2>
                <p>{team.description}</p>
                <img alt={team.name} src={team.image} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </article>
</Base> 
