---
import { Image } from "@astrojs/image/components";
import Base from "@layouts/Base.astro";
import Cta from "@layouts/components/Cta.astro";
import { markdownify } from "@lib/utils/textConverter";
import { getEntryBySlug } from "astro:content";

const homepage = await getEntryBySlug("homepage", "index");
const { services, workflow, call_to_action, title, description } = homepage.data;
---

<Base title={title} description={description}>

  <!-- Workflow -->
  <section class="section">
    <div class="text-center">
      <h1
        class="mx-auto max-w-[600px] font-bold leading-[44px]">{workflow?.title}<h1/>
      <p class="mt-5">{workflow?.description}</p>
    </div>
  </section>

  <!-- Services -->
  {
    services!.map((service, index: number) => {
      const isOdd = index % 2 > 0;
      return (
        <section class={`section ${isOdd && "bg-theme-light"}`}>
          <div class="container">
            <div class="items-center gap-8 md:grid md:grid-cols-2">
              <div class={`service-carousel ${!isOdd && "md:order-2"}`}>
                {service!.images!.length > 1 ? (
                  <div class="swiper">
                    <div class="swiper-wrapper">
                      {service!.images?.map((image: string) => (
                        <div class="swiper-slide">
                          <Image
                            class="mx-auto"
                            src={image}
                            width={138}
                            height={138}
                            alt=""
                          />
                        </div>
                      ))}
                    </div>
                    <div class="pagination" />
                  </div>
                ) : (
                  <Image
                    class="mx-auto"
                    src={service!.images![0]}
                    width={138}
                    height={138}
                    alt=""
                  />
                )}
              </div>

              {/* Content */}
              <div
                class={`service-content mt-5 md:mt-0 ${!isOdd && "md:order-1"}`}
              >
                <h2 class="font-bold leading-[40px]">{service?.title}</h2>
                <p class="mt-4 mb-2">{service?.content}</p>
                {service?.button?.enable && (
                  <a
                    href={service?.button.link}
                    class="cta-link inline-flex items-center text-primary"
                  >
                    {service?.button.label}
                    <img
                      class="ml-1"
                      src="/images/arrow-right.svg"
                      width={18}
                      height={14}
                      alt="arrow"
                    />
                  </a>
                )}
              </div>
            </div>
          </div>
        </section>
      );
    })
  }

  <script>
    import Swiper, { Autoplay, Pagination } from "swiper";
    new Swiper(".service-carousel .swiper", {
      modules: [Pagination, Autoplay],
      autoplay: {
        delay: 3000,
      },
      pagination: {
        type: "bullets",
        el: ".service-carousel .pagination",
        clickable: true,
      },
    });
  </script>
  <!-- ./End service -->

  <!-- Call to Action -->
  <Cta cta={call_to_action} />
</Base>
