---
import { Image } from "@astrojs/image/components";
import Base from "@layouts/Base.astro";
import Cta from "@layouts/components/Cta.astro";
import { getEntryBySlug } from "astro:content";
import { markdownify } from "@lib/utils/textConverter";

const entry = await getEntryBySlug("tech", "index");
const { Content } = await entry.render();
const { title, meta_title, description, image } = entry.data;

const cta = await getEntryBySlug("homepage", "index");
const { call_to_action } = cta.data;
---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section py-0 position: relative">
    <div class="position: absolute text-center inset-1/3">
      <h1
        class="mx-auto max-w-[600px] font-bold leading-[44px]">{title}<h1/>
      <p class="mt-5">{description}</p>
    </div>
    <Image
      src={image}
      alt="workflow image"
      width={1000}
      height={450}
      class={'m-auto'}
    />
  </section>

  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="col-12 md:col-10">
          <article class="text-center">
            <h1 set:html={markdownify(title)} class="h2 text-left my-6" />
            <div class="content text-left">
              <Content />
            </div>
          </article>
        </div>
      </div>
    </div>
  </section>
  <Cta cta={call_to_action} />
  
</Base>
